

<div class="container">

<h3 class="text-black-50">商品新規登録</h3>
  <div class="row sm-auto">
<%= form_with model: @items, url: admin_items_path, local: true do |f| %>

　<h4>商品画像</h4>
  <%= f.attachment_field :image %>

  <h4>商品名</h4>
  <%= f.text_field :name %>

  <h4>商品説明</h4>
  <%= f.text_field :introduction %>

  <h4>ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>

  <h4>販売価格</h4>
  <%= f.text_field :price %>円


  <%= f.submit '新規登録' %>
  </div>
<% end %>

</div>