<div class="container">
  <div class="row">

    <h3>マイページ</h3><br>

   <h3>登録情報</h3>
   <%= link_to admincustomers_edit_path, class:"nav-link btn btn-outline-secondary" do %>
     編集する
   <% end %>


<table class="table-bordered">


  <tr><td>名前</td><td><%= @customer.last_name %>  <%= @customer.first_name %></td></tr>
  <tr><td>カナ</td><td><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td></tr>
  <tr><td>郵便番号</td><td><%= @customer.postal_code %></td></tr>
  <tr><td>住所</td><td><%= @customer.address %></td></tr>
  <tr><td>電話番号</td><td><%= @customer.telephone_number %></td></tr>
  <tr><td>メールアドレス</td><td><%= @customer.email %></td></tr>

</table>
  </div>
</div>
