<h1>注文履歴一覧</h1>

    <div class="col-md-8 offset-md-1">
      <table class="table table-hover table-inverse">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td>
            <%= order_detail.created_at.strftime('%Y/%m/%d %H:%M') %>
          </td>
          <td>
            <%= link_to admin_order_path(order_detail.order.id) do %>
            <%= order_detail.order.customer.last_name %><%= order_detail.order.customer.first_name %><br>
            <% end %>
          <br></td>
          <td><%= order_detail.amount%></td>
          <td></td>
        </tr>
        <% end %>

      </table>
    </div>